@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", "Poppins", sans-serif;
}

/* Definindo variáveis*/

:root{
    --bg-primary: #0b0f1a;
    --bg-secondary: #111827;
    --primary: #7c3aed;
    --primary-dark: #6d28d9;
    --seconday: #4f46e5;
    --gradient: linear-gradient(135deg, #7c3aed, #4f46e5);
    --text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --card-bg: #111827;
    --border: rgba(255, 255, 255, 0.05);
    --shadow: 0 10px 30px rgba(124, 58, 237, 0.2); 
}

body , html{
    background: linear-gradient(to bottom, var(--bg-secondary), var(--bg-primary));
}

/*Configuração de css para primeira section no header*/
.container-header-do-topo{
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
}

.container-header-do-topo h1{
    color: var(--text-primary);
    font-size: 1.3rem;
    padding: 5px;
}

.letras-roxo{
    color: var(--primary-dark);
}

.container-header-do-topo button{
    background-color: rgba(128, 128, 128, 0.075);
    padding: 7px;
    border-radius: 50%;
    border: none;
}

.container-header-do-topo div{
    background-color: var(--text-primary);
    width: 17px;
    height: 2.1px;
    margin: 4px;
}
.container-header-do-topo nav{
    display: none;
}

/*Configuração de css para a segunda section do header*/

.container-header-introducao{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 0 10px;
    text-align: center;
}

.container-header-introducao h1 {
    color: var(--text-primary);
}

.container-header-introducao > h1 > span:nth-child(1), .container-header-introducao > h1 > span:nth-child(5){
    font-size: 1rem;
}

.container-header-introducao > h1 > span:nth-child(5){
    position: relative;
    top: -12px;
}

.container-header-introducao .div{
    width: 100%;
    height: auto;
}
.container-header-introducao .primeira-imagem-header{
    width: 130px;
    height: 148px;
    margin: 1px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.container-header-introducao p{
    color: var(--text-secondary);
    margin-bottom: 10px;
    font-size: 0.87rem;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.container-header-introducao a:nth-child(1){
    background: url(imagens/seta.png) no-repeat right / 30px;
    background-color: var(--primary);
    color: var(--text-primary);
    width: 210px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.container-header-introducao a:nth-child(2){
    background: url(imagens/mensagens.png) no-repeat right;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    width: 210px;
    padding: 10px 40px;
    margin: 10px 0 15px 0;
    border-radius: 10px;
    border: 0.5px solid var(--text-secondary);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.container-header-introducao a:nth-child(1):hover{
    background-color: var(--bg-secondary);
}

.container-header-introducao a:nth-child(2):hover{
    background-color: var(--primary);
}


.container-header-introducao .redes-sociais{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.container-header-introducao .redes-sociais h2{
    grid-column: 1/-1;
    justify-self: start;
    color: var(--text-secondary);
    font-size: 0.87rem;
    font-weight: bold;
}

.container-header-introducao .redes-sociais div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.container-header-introducao .redes-sociais div img{
    width: 25px;
    height: 25px;
}

.container-header-introducao .redes-sociais div img:nth-child(3){
    width: 45px;
    height: 45px;
}
/*Configuração de css para a primeira section do man*/
.container-main-sobre-mim{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 86%;
    height: auto;
    background-color: var(--card-bg);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

.container-main-sobre-mim h2{
    background: url(imagens/pessoa\ \(1\).png) no-repeat left / 20px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 0 25px;
}

.container-main-sobre-mim p{
    color: var(--text-secondary);
    text-align: center;
    padding: 5px;
}

.container-main-sobre-mim div{
    display: flex;
    justify-content: center;
}

.container-main-sobre-mim div p{
    background: url(imagens/pin\ \(1\).png) no-repeat left / 30px;
    color: var(--text-primary);
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 40px;
    margin-left: 25px;
}

